@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.body{
    font-family: 'Open Sans', sans-serif;
    background-color: #82B8D9;
}

.container{
    background-color: #fff;
    margin: 3.125rem auto;
    padding: 1.25rem;
}

form input, form label{
    display: block;
    width: 50%;
    margin-bottom: 0.625rem;
}

form input:focus {
    outline: 1px solid;
    outline-color: #007bff;
}