@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(248, 237, 218);
}

.container{
    background-color: white;
    margin: 3.125rem auto;
    padding: 1.25rem;
    text-align: center;
    max-width: 700px !important;
}

.calculadora{
    margin-left: auto; 
    margin-right: auto;
    width: 400px;
}

.btn-secondary{
    width: -webkit-fill-available;
    font-size: 1em;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}